body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poiret One';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'poiret one',
    monospace;
}
