.a {
  height: 100vh;
  display: flex;
  align-items: center;
  
}

.a-left{
  flex: 1;
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.a-right {
  flex: 1;

}

.a-card.bg{
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: pink;
  
}

.a-card{
  width:60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
.a-img{
  width: 108%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  /* position: absolute; */
  
}

.a-cert-img{
  width: 300px;
  height:180px;
  border-radius: 20px;
  border: 1px solid pink;
  margin-right: 10px;
}
.a-title{
  font-weight: 400;
}

.a-sub{
  margin: 20px 0px;
  font-weight: 300;
}

.a-desc{
  font-weight: 300;
}

.a-cert{
  margin-top: 25px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.a-cert-texts{
  width: 70%;
  text-align: center;
}

.a-cert-title{
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}
@media screen and (max-width:992px) {
  .a {
    flex-direction: column;
    text-align: center;
    margin-top: 0px;
  }
  .a-img{
    object-fit: contain;
  }

  .a-left{
    width:100%;

    
  }
  .a-title{
    margin-top: 0px;
  }
  .a-card{
    height: 30vh;
  }
  
  .a-card.bg, .a-sub, .a-cert {
    display: none;
    justify-content: center;
  }
  .a-desc{
    font-weight: 300;
    font-size: large;
  }
  .a-right{
    padding:20px;
  }
}